Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Characters/
/LevelPrototyping/
/StarterContent/
/Temp Content/
/Config/
/Content/Characters/
/Content/LevelPrototyping/
/Content/StarterContent/